In [1]:
#Importing all the necessary Libraries
from bs4 import BeautifulSoup
import pandas as pd
import requests
import urllib.request
import time

In [26]:
#Creating List to Store the Scraped Data
link= []
authors = []
dates = []
statements = []
source = []
labels = []

In [27]:
#Creating a function to scrape the data from the website
for i in range(0, 10000, 50):
        URL = 'https://www.aajtak.in/fact-check?offset=' + str(i)
        webpage = requests.get(URL)
        soup = BeautifulSoup(webpage.text, 'html.parser')
        
        #Get the Location of the information
        
        statement_quote = soup.find_all('h2', attrs={'class':'title'}) #location of the author
        
        #Loop through statement quote
        for i in statement_quote:
            for a in i.find_all('a', href=True):
                link2 = a['href']
                link.append(link2)

In [28]:
data = pd.DataFrame(columns= ['Links'])
data['Links'] = link

data

                                                  Links
0     https://www.aajtak.in/fact-check/story/israeli...
1     https://www.aajtak.in/fact-check/story/fact-ch...
2     https://www.aajtak.in/fact-check/story/fact-ch...
3     https://www.aajtak.in/fact-check/story/fact-ch...
4     https://www.aajtak.in/fact-check/story/fact-ch...
...                                                 ...
2995  https://www.aajtak.in/fact-check/story/fact-ch...
2996  https://www.aajtak.in/fact-check/story/anju-vi...
2997  https://www.aajtak.in/fact-check/story/waheeda...
2998  https://www.aajtak.in/fact-check/story/fact-ch...
2999  https://www.aajtak.in/fact-check/story/no-trut...

[3000 rows x 1 columns]